<div class="search">

    <form class="search" name="searchForm" action="" method="post" onsubmit="return(vmtHelpSearch.callDummySearch());">
        <div class="searchWrapper" >
            <input class="searchText" type="text" size="32" ng-model="searchterm" name="terms" onfocus="select(this);" />
            <input class="searchButton" type="image" src="./assets/Doc/graphics/Icons/find_go.png" ng-click="callSearch($event)">
        </div>
        <input id="andOrButton" class="{{andorclass}}" type="image" src="{{andorsrc}}" ng-click="setAndOr($event)">
        <input id="highlightButton" class="{{highlightclass}}"
               type="image" src="{{highlightsrc}}" ng-click="doHighlight($event)">
    </form>

    <article class="navList">
     <div ng-bind-html="searchobj.content"></div>
    </article>

</div>